ex3.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="ex3.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Kumar </xs:fname>
	<xs:lname> Sanghakara </xs:lname>
	<xs:mname> K </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 11 </xs:houseno>
	<xs:streetname> Van Street </xs:streetname>
	<xs:cityname> Mangaluru </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 85 </xs:marks>
   <xs:hobbies> Dancing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Mahela </xs:fname>
	<xs:lname> Jayavardhane</xs:lname>
	<xs:mname> D </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 12 </xs:houseno>
	<xs:streetname> Arun Nagar </xs:streetname>
	<xs:cityname> Yalahanka </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 95 </xs:marks>
   <xs:hobbies> Singing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
</xs:schema>